.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.precio {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b8860b;
}

.stock {
  font-size: 1rem;
  font-weight: bold;
  color: #794b38;
}

.stock-info {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: #ebdcbc;
  border-radius: 10px;
}
