<div class="card h-100">
  <img
    [src]="producto.urlImagen"
    [alt]="producto.nombre"
    class="card-img-top"
    style="height: 300px; object-fit: contain"
  />

  <div class="card-body">
    <h5 class="card-title">{{ producto.nombre }}</h5>
    <p class="card-text">{{ producto.descripcion }}</p>
    <p class="card-text">
      <small class="text-muted">
        Tiempo de preparación: {{ producto.tiempoPreparacion }} min
      </small>
    </p>
    <p class="precio fw-bold">{{ producto.precio.toFixed(2) }}€</p>
    <div class="stock stock-info">Stock disponible: {{ producto.stock }}</div>
  </div>

  <div class="card-footer d-flex justify-content-between align-items-center">
    <a
      class="btn btn-outline-primary"
      [routerLink]="['/catalogo', producto._id]"
    >
      Ver Detalles
    </a>
    <button
      class="btn btn-primary"
      [disabled]="!authService.isLoggedIn()"
      (click)="agregarAlCarrito()"
    >
      {{ producto.stock > 0 ? "Añadir al carrito" : "Reservar para otro día" }}
    </button>
  </div>

  @if (producto.stock === 0) {
  <div class="position-absolute top-0 end-0 p-2">
    <span class="badge bg-danger">Agotado</span>
  </div>
  }
</div>
